.movieList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  list-style: none;
}

.linkMovieList{
  display: block;
  width: 150px;
}

.list {
  list-style-type: circle, black; 
  padding-left: 20px;
}

.item {
  margin-bottom: 10px;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: blue;
}

.imgMovieList {
  width: 150px;
  height: 220px;
}
