.castList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  list-style: none;
  padding: 0;
}

.castItem {
  display: block;
  max-width: 150px;
  height: 100%;
  display: grid;
  place-items: center;
}

.castImage {
  max-width:150px;
  max-height: 200px;
}

.actorName{
  max-width: 150px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 8px;
  text-align: center;
  justify-content: center;
}

.actorCharacter{
  max-width: 150px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}